# Ignore node_modulesin node server
node_server/node_modules/

#Ignore node_modulesin ang server
angweb/node_modules/


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angweb/dist
angweb/tmp
angweb/out-tsc

# IDEs and editors
angweb/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
angweb/.sass-cache
angweb/connect.lock
angweb/coverage
angweb/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
angweb/typings

# System Files
.DS_Store
Thumbs.db
