<div class="btn-group d-flex align-items-center justify-content-center" style="height: 60px;">
  <button type="button" class="btn btn-secondary">Beginner</button>
  <button type="button" class="btn btn-secondary">Easy</button>
  <button type="button" class="btn btn-secondary">Medium</button>
  <button type="button" class="btn btn-secondary">Hard</button>
  <button type="button" class="btn btn-secondary">Challenge </button>
</div>

<div>
  <button type="button" class="btn btn-primary prbButton" (click)="onClickProblem('CHN04')">Solve Problem 1</button>
  </div>
  <div>
  <button type="button" class="btn btn-primary prbButton" (click)="onClickProblem('SEQUENCE')">Solve Problem 2</button>
</div>