<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand" [routerLink]="['/home/problem']">CodeChef</a>
     
    
    <ng-container *ngIf="isLoggedIn;then showLogout else showLogin"></ng-container>
    
    <ng-template #showLogin >
        <div class="topnav-right">
            <a class="btn btn-default btn-primary" role="button" href="{{CodeChefloginUrl}}">Login</a>
        </div>
    </ng-template>

    <ng-template #showLogout >
        <div>
            <i class="material-icons md-18">face</i>
            Hi {{username}}
        </div>
        <div class="topnav-right">
            <button type="button" class="btn btn-default btn-light" (click)="Logout()">
            <span class="material-icons md-18">input</span> Log out
            </button>
        </div>
    </ng-template>

</nav>

<div *ngIf="!isLoggedIn" class="d-flex flex-row justify-content-center align-items-center" style="height: 400px;">
    <div>
        <img src="assets/img/logo.png">
        <h1 class="description">Learn Programming the fun way</h1>
    </div>
</div>

<router-outlet></router-outlet>